// Colors
$color-white: #ffffff;
$color-black: #000000;

$color-primary: #ed662c;
$color-primary-light: #e68f6a;

$color-eerie-black: #121b20;
$color-gray-light: #aaa;
$color-gray-dark: #6d5d4b;

$color-crimson-red: #9a0200;
$color-error-red: #d93025;
$color-white-smoke: #f7f4f3;

// Fonts
$font-poppins: "Poppins", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
